name: Run unit tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore AnkiStoryGenerator/AnkiStoryGenerator.sln

    - name: Build solution
      run: dotnet build AnkiStoryGenerator/AnkiStoryGenerator.sln --configuration Debug --no-restore

    - name: Run unit tests
      run: dotnet test AnkiStoryGenerator/AnkiStoryGenerator.sln --configuration Debug --no-build --no-restore